<div id="index" class="row">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large indigo darken-2" onclick="altaMaduracion();">
      <i class="fa fa-plus"></i>
      </a>
    </div>
      <div class="center">
        <h1>Maduración</h1>
      </div>
    <table class="responsive-table striped">
      <thead>
        <tr>
          <th data-field="name">Fecha</th>
          <th data-field="sublote">Sublote</th>
          <th data-field="bloque">Bloque</th>
          <th data-field="anada">Anada</th>
          <th data-field="ver">Acción</th>
        </tr>
      </thead>
      <tbody id="bodyMaduracion">
      </tbody>
    </table>
</div>

<div id="alta" class="center">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6 waves-effect waves-light"><a href="#confi">Configuración</a></li>
          <li class="tab col s6 waves-effect waves-light"><a class="active" href="#regi">Registro</a></li>
        </ul>
      </div>
      <div id="confi" class="col s12">
            <h4>Configuración</h4>
            <div class="input-field col s12">
                  <label>Rancho:</label><br><br>
                  <select class="browser-default" id="rancho" onchange="rowLote();">
                    <option value="" selected>Seleccione Rancho</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Viñedo:</label><br><br>
                  <select class="browser-default"  id="vinedo" onchange="rowSublote();">
                    <option value="" selected>Seleccione Viñedo</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Variedad:</label><br><br>
                  <select class="browser-default" id="variedad" onchange="rowBloque();">
                    <option value="" selected>Seleccione Variedad</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Bloque:</label><br><br>
                  <select class="browser-default" id="bloque">
                    <option value="" selected>Seleccione Bloque</option>
                  </select>
            </div>

            <div class="input-field col s12">
                  <label>Añada:</label><br/><br/>
                  <select class="browser-default" id="anada">
                      <option value="" selected>Seleccione Añada</option>
                  </select><br/>  
                  <a class="waves-effect waves-light btn" onclick="saveConfig();">Guardar Configuración</a>
            </div>
      </div>
      <div id="regi" class="col s12">
              <h4>Nuevo Registro</h4>
              <div class="input-field col s12">
                    <label for="fecha">Fecha registro</label>
                    <input id="fecha" type="text" class="datepicker">
              </div>
              <div class="input-field col s12">
                  <input id="solidos" type="text" >
                  <label for="solidos">Sólidos solubles</label>
              </div>

              <div class="input-field col s12">
                  <input id="ph" type="text">
                  <label for="ph">pH</label>
              </div>
              
              <div class="input-field col s12">
                  <input id="at" type="text" >
                  <label for="at">AT</label>
              </div>

              <div class="input-field col s12">
                  <label for="brph">Br * pH </label>
              </div>

              <div class="input-field col s12">
                  <input id="brph" type="text" class="browser-default"  disabled="true"  class="validate">
              </div>

              <div class="input-field col s12">
                  <label for="brat">Br / AT</label>
              </div>
              <div class="input-field col s12">
                  <input id="brat" type="text" class="browser-default"  disabled="true" class="validate">
              </div>        
          <br> <a class="waves-effect waves-light btn " onclick="saveMaduracion();">Registrar</a>
          <p id='noNumEditSolidos' class="textRojo">
            Verifique que Solidos Solubles esten en el rango de 0 a 28.
          </p>
          <p id='noNumEditAt' class="textRojo">
            Verifique que AT esten en el rango de 0 a 20.
          </p>
          <p id='noNumEditPh' class="textRojo">
            Verifique que Ph esten en el rango de 2 a 4.
          </p>

        </div>
    </div>
</div>

<div class="row" id="view">
    <div class="section center" >
        <h1>Maduración</h1>
        <h5>Visualizar registro</h5>
        <div class="divider"></div>
    </div>
         <table  class=" bordered striped centered  highlight z-depth-3" id="tableFenologia">
              <thead>
                <tr>
                    <th colspan= "2">Información</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th>Añada</th>
                <td id='viewanada'></td>
              </tr>
              <tr>
                <th>Fecha de Registro</th>
                <td id='viewfecha'></td>
              </tr>
              <tr>
                <th>Rancho</th>
                <td id='viewrancho'></td>
              </tr>
            <tr>
                <th>Viñedo</th>
                <td id='viewvinedo'></td>
            </tr>
            <tr>
                <th>Variedad</th>
                <td id='viewvariedad'></td>
            </tr>
            <tr>
                <th>Bloque</th>
                <td id='viewbloque'></td>
            </tr>
            <tr>
                <th>Sólidos Solubles</th>
                <td id='viewsolidos'></td>
            </tr>
            <tr>
                <th>pH</th>
                <td id='viewph'></td>
            </tr>
            <tr>
                <th>AT</th>
                <td id='viewat'></td>
            </tr>
            <tr>
                <th>Br * pH</th>
                <td id='viewbrph'></td>
            </tr>
            <tr>
                <th>Br/AT</th>
                <td id='viewbrat'></td>
            </tr>     
        </tbody>
      </table>
      <br> 
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" id='btns'>
        <a class="btn-floating btn-large indigo darken-2">
          <i class="fa fa-bars fa-lg"></i>
        </a>
        <ul>
          <li><a class="btn-floating red"  onclick="deleteRow();"><i class="fa fa-trash-o"></i></a></li>
          <li><a class="btn-floating yellow darken-1" onclick="editarMaduracion();"><i class="fa fa-pencil"></i></a></li>
        </ul>
      </div>

      <input type="hidden" id='viewId' value="">
</div>

<div id="editar" class="center"> 
    <div class="row">
      <div id="regi" class="col s12">
              <h4>Editar Registro</h4>

              <div class="input-field col s12">
                  <label for="editfecha">Fecha registro</label>
              </div>
              <div class="input-field col s12">
                    <input id="editfecha" type="text" class="datepicker">
              </div>

              <div class="input-field col s12">
                  <label for="editsolidos">Sólidos solubles</label>
              </div>              
              <div class="input-field col s12">
                  <input id="editsolidos" type="text" >
              </div>

              <div class="input-field col s12">
                  <label for="editph">pH</label>
              </div>  
              <div class="input-field col s12">
                  <input id="editph" type="text">
              </div>

              <div class="input-field col s12">
                  <label for="editat">AT</label>
              </div> 
              <div class="input-field col s12">
                  <input id="editat" type="text" >
              </div>

              <div class="input-field col s12">
                  <label for="editbrph">Br * pH </label>
              </div>

              <div class="input-field col s12">
                  <input id="editbrph" type="text" class="browser-default"  disabled="true"  class="validate">
              </div>

              <div class="input-field col s12">
                  <label for="viewbrat">Br / AT</label>
              </div>
              <div class="input-field col s12">
                  <input id="editbrat" type="text" class="browser-default"  disabled="true" class="validate">
              </div>        
          <br> <a class="waves-effect waves-light btn " onclick="updateMaduracion();">Actualizar</a>

      </div>
    </div>
</div>

<script type="text/javascript" src="js/maduracion.js"></script>
