<div id="index">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large indigo darken-2" onclick="altaPeso();">
         <i class="fa fa-plus"></i>
      </a>
    </div>
    <center>
      <h1>Cálculo de peso</h1>
    </center>
    <table class="responsive-table striped">
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="name">Fecha</th>
              <th data-field="sublote">Sublote</th>
              <th data-field="bloque">Bloque</th>
              <th data-field="ver">Acción</th>
          </tr>
        </thead>
        <tbody id="bodyPeso">
        </tbody>
    </table>
</div>
<div id="alta">
<center>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6 waves-effect waves-light"><a href="#confi">Configuración</a></li>
          <li class="tab col s6 waves-effect waves-light"><a class="active" href="#regi">Registro</a></li>
        </ul>
      </div>
      <div id="confi" class="col s12">
            <h4>Configuración</h4>
            <div class="input-field col s12">
                  <label>Rancho:</label><br><br>
                  <select class="browser-default" id="rancho" onchange="rowLote();">
                    <option value="" selected>Seleccione Rancho</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Viñedo:</label><br><br>
                  <select class="browser-default"  id="vinedo" onchange="rowSublote();">
                    <option value="" selected>Seleccione Viñedo</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Variedad:</label><br><br>
                  <select class="browser-default" id="variedad" onchange="rowBloque();">
                    <option value="" selected>Seleccione Variedad</option>
                  </select>
            </div>
            <div class="input-field col s12">
                  <label>Bloque:</label><br><br>
                  <select class="browser-default" id="bloque">
                    <option value="" selected>Seleccione Bloque</option>
                  </select>
            </div>

            <div class="input-field col s12">
                  <label>Añada:</label><br/><br/>
                  <select class="browser-default" id="anada">
                      <option value="" selected>Seleccione Añada</option>
                  </select><br/>  
                  <a class="waves-effect waves-light btn" onclick="saveConfig();">Guardar</a>
            </div>
      </div>
      <div id="regi" class="col s12">
          <h4>Nuevo Registro</h4>
          <div class="input-field col s12">
                <label for="fecha">Fecha registro</label>
                <input id="fecha" type="text" class="datepicker">
          </div>
          <div class="input-field col s12">
              <input type="text" id='costoUva'>
              <label for="input_text">Costo de la uva (Pesos)</label>
          </div>
          <div class="input-field col s12">
            <label for="input_text">Peso total Neto</label>
          </div>
          <div class="input-field col s12">
              <input type="text"  id='pesoTotalNeto' >
          </div>
          <div class="input-field col s12" id="calculoCajas" >
              <input type="text" id='totalCajas' onkeyup='calpeso($(this).val());'>
              <label for="input_text"># Total de cajas</label>
          </div>
          <div class="input-field col s12">
               <p>
                <input type="checkbox" id="checkInput" />
                <label for="checkInput">CALCULAR PESO TOTAL NETO</label>
              </p><br>
          </div> 
          <br>
          <fieldset id="fieldCajas">
            <legend>Cálculo de cajas</legend>

            <div class="input-field col s12">
                <label>Cajas de la muestra</label>
            </div>
            <div class="input-field col s12">
              <input type="text" readonly="true" id="cajasMuestra">
            </div>

            <div class="input-field col s12">
              <input type="text" id='taraCaja'  onkeyup='calpeso($(this).val());'>
              <label for="input_text">Tara cajas(Kg)</label>
            </div>

            <div class="input-field col s12">
                <label>Peso promedio por caja(Kg)</label
                >
            </div>
            <div class="input-field col s12">
              <input type="text" disabled="true" id="pesoPromCaja">
            </div>

            <div class="input-field col s12">
                <label>Peso promedio neto(Kg)</label
                >
            </div>
            <div class="input-field col s12">
              <input type="text" disabled="true" id="pesoPromNeto">
            </div>

            <div class="input-field col s12">
                <label>Peso total neto de la muestra(Kg)</label
                >
            </div>
            <div class="input-field col s12">
              <input type="text" disabled="true" id="pesoMuestra">
            </div>
            
            <a class="waves-effect waves-light btn" onclick="newBox();">agregar caja</a>
            <div id="cajas col s12">
              <h3> Lista de cajas </h3>
                <div id="CajasAcumuladas">
                    <div class='input-field col s12' id='divBox1'>
                      <div class="input-field col s2">
                         <p>
                           <i class="fa fa-circle"></i>
                         </p>
                      </div>
                      <div class="input-field col s8">
                        <input type="text" id="caja[]" name="caja[]"  onkeyup='calpeso($(this).val());'>
                        <label for="input_text">PESO (KG)</label>

                      </div>
                      <div class="input-field col s2">
                        <a class="waves-effect waves-teal btn-flat" onclick="deleteBox(1);"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  <div  id="newCajas">
                  </div>
                </div>
            </div>
          </fieldset>   
         <p id='alertInt' class="textRojo">
          Verifique los valores, existen letras o simbolos donde no debería
          </p>
          <br> <a class="waves-effect waves-light btn" onclick="savePeso();">Guardar</a>
        <p id='result'></p>
      </div>
    </div>
  </center>
</div>
<script type="text/javascript" src="js/peso.js"></script>

